{% extends "base.html" %}
{% block title %}Спикеры{% endblock %}
{% block top %}<h1>Спикеры</h1>{% endblock %}
{% block content %}
<ul>
{% for speakers_item in speakers %}
 {% include 'speakers/speakers_item.html' %}
{% endfor %}
</ul>
{% endblock %}