{% extends "base.html" %}
{% block title %}Выступления{% endblock %}
{% block top %}<h1>Выступления</h1>{% endblock %}
{% block content %}
<ul>
{% for vustuplenia_item in vustuplenia %}
 {% include 'vustuplenia/vustuplenia_item.html' %}
 {% block more %}{% endblock %}
 {% endfor %}
 <br>
 {% if request.path = '/vustuplenia/' %}
<a style="font-size:1.5em;color:blue;" href="/vustuplenia/edit/">Редактировать</a>
{% endif %}
</ul>

{% endblock %}