{% extends "vustuplenia/edit.html" %}
{% block title %}Заявка на выступление{% endblock %}
{% block content %}
    <div class=main>
    <div class="page-header">
        <h2>Введите ваши данные </h2>
    </div>
    {% block action %}
	<a href="../.."> Отмена </a>
	<form action="" method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Submit" />
	</form>
{% endblock %}
    </div>
{% endblock %}