{% extends "base.html" %}
{% block title %}Изменение выступления{% endblock %}
{% block content %}
<ul>
{% for vustuplenia_item in vustuplenia %}
 {% include 'vustuplenia/vustuplenia_item.html' %}
{% block more %}
<div class="content">
	<a style="text-decoration:none;font-size:1.1em;color:blue;"  href="/vustuplenia/edit/change/{{ vustuplenia_item.pk }}/">Редактировать</a>
</div>

<div class="content">
	<a style="text-decoration:none;font-size:1.1em;color:blue;"  href="/vustuplenia/edit/delete/{{ vustuplenia_item.pk }}/">Удалить</a>
</div>
{% endblock %}
 {% endfor %}
 <div style="border-top:1px black solid;">
{% block edit %}
<a style="text-decoration:none;font-size:1.5em;color:blue;"  href = "/vustuplenia/"> Вернуться на основную страницу</a>
<br />
{% if '/change/' not in request.path and '/add/' not in request.path %}
<a style="text-decoration:none;font-size:1.5em;color:blue;" href="add">Добавить выступление</a>
{% endif %}

	{% block action %}{% endblock %}
{% endblock %}
{% endblock %}