@charset "utf-8";
#wrapper {
	margin: 0 auto;
	width: 80%;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
#content {
width:96%;
border: 1px solid black;
min-height:700px;
padding:2%
}
#content img{
float:left;
padding-right:1%;
}
#top{
width:98%;
min-height:100px;
border: 1px solid black;
padding-left:2%;
color:white;
background-color:black;
}
body{
background-color:rgb(242, 242, 242);
}
#content ul li{
width:40%;
border-bottom: 1px solid black;
padding:1%;
}