{% extends "base.html" %}
{% autoescape on %}
{% block title %}Новости{% endblock %}
{% block top %}<h1>Новости</h1>{% endblock %}
{% block content %}
<ul>
{% for news_item in news %}{% comment %} Этот элемент {% for news_item in news %} используется для вывода всех объектов новостей...{% endcomment %}
 {% include 'news/news_item.html' %}
{% endfor %}
</ul>
<div class="pagination">
    <span class="step-links">
        {% if news.has_previous %}
            <a href="?page={{ news.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">
            Стр. {{ news.number }} из {{ news.paginator.num_pages }}.
        </span>

        {% if news.has_next %}
            <a href="?page={{ news.next_page_number }}">Следующая</a>
        {% endif %}
    </span>
</div>
{% endblock %}
{% endautoescape %}