<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
 <title>{% block title %} Главная {% endblock %}
 </title>
</head>
<body>
<span style="font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', serif"></span>
<div id="wrapper">
	<div id="top">
		{% block top %}<h1>Главная</h1>{% endblock %}
	</div>
	<div id="content">
	{% block content %}
	<p> 29 сентября, в Киеве Медиа группа «Электроника» проводит конференцию «Современная светотехника. Украина».
		<br>
		Цели конференции:
		<br>
		обсуждение состояния, перспектив и путей дальнейшего развития в Украине и России полупроводникового (светодиодного) освещения;
		обмен опытом в использовании LED-технологий энергоэффективного освещения,
		создание кооперационных производств, новых осветительных  приборов различного назначения;
		налаживание полезных деловых контактов между поставщиками  LED – компонентов и производителями светотехнических изделий, продавцами и потребителями готовой продукции и др.
		На конференции выступят отечественные и зарубежные производители, поставщики комплектующих, оборудования и готовой продукции, руководители профильных министерств и государственных структур, потенциальные украинские и зарубежные инвесторы, проектировщики, технологи.
		<br>
		Мы приглашаем Вас и Ваших коллег принять участие в конференции,  обсудить новые возможности и проблемы рынка светотехники, узнать планы развития ведущих производителей, лично обменяться опытом с партнерами и коллегами.
		<br>
		Участие в конференции платное.
		<br>
		Предварительная программа конференции.
		<br>
		Для регистрации, пожалуйста, заполните бланк заявки и направьте его по факсу +7 (495)741-7702 или электронной почтой на адрес conf@ecomp.ru
		<br>
		За более подробной информацией об участии в конференции, выступлении и экспозиции обращайтесь в оргкомитет конференции:
		<br><br>
		Контактное лицо в Москве:
		Бараева Динара
		тел.: +7 (495) 741-77-01, доб.2233
		e-mail: conf@ecomp.ru       
		<br><br>
		Контактное лицо в Киеве: Курченко Елена
		тел.: +38 (044) 586-56-01
		e-mail: e.kurchenko@electronicaua.com.ua       
		</p>
	{% endblock %}
 </div>
 </div>
 </body>
</html>