{% extends "base.html" %}
{% block title %}Организаторы{% endblock %}
{% block top %}<h1>Организаторы</h1>{% endblock %}
{% block content %}
<ul>
{% for organizators_item in organizators %}
 {% include 'organizators/organizators_item.html' %}
{% endfor %}
</ul>
{% endblock %}