{% extends "base.html" %}
{% block title %}Партнеры{% endblock %}
{% block top %}<h1>Партнеры</h1>{% endblock %}
{% block content %}
<ul>
{% for partners_item in partners %}
 {% include 'partners/partners_item.html' %}
{% endfor %}
</ul>
{% endblock %}