{% extends "base.html" %}
{% block title %}Контакты{% endblock %}
{% block top %}<h1>Контакты</h1>{% endblock %}
{% load cache %}
{% cache 500 content %}
{% block content %}
<ul>
{% for contacts_item in contacts %}
 {% include 'contacts/contacts_item.html' %}
{% endfor %}
</ul>
{% endblock %}
{% endcache %}